/* Main Card Styles */
.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

.card {
  background: var(--card-background);
  border: 1px solid transparent;
}

.group {
  background: var(--group-background);
}

/* Card Hover for Interaction */
.card:hover {
  border-color: var(--link-color);
}

/* Any Image Styling */
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5em;
  object-fit: cover;
  vertical-align: middle;
}

/* Unit Icon Styling */
.card h3 img {
  margin-bottom: 3px;
  width: auto;
  height: 64px;
}

/* Preview Styling */
.card img.preview,
.card iframe.preview {
  max-width: 100%;
  margin-top: 5px;
  display: block;
  border-radius: 10px;
  overflow-y: hidden;
}
.card img.preview {
  width: auto;
}
.card iframe.preview {
  width: 854px;
}

/* lists */
.card ul {
  padding: 0;
}
.card ul ul {
  padding: 0;
  padding-left: 1.5rem;
}
.card ul ul li {
  list-style: square;
}

/* Optional Clickable Card */
.card.Clickable {
  cursor: pointer;
}

.group {
  background: var(--group-background);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 20px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* Button inside the Card */
.card a.button-link {
  display: inline-block;
  padding: 10px 15px;
  background: var(--button-background);
  color: var(--button-color);
  border-radius: 5px;
  text-decoration: none;
  margin-top: auto;
  transition: background-color 0.3s ease;
}
.card a.button-link:hover {
  background: var(--ButtonHoverBackground);
}

/* Responsive Design */
@media (max-width: 768px) {
  .block {
    padding: 15px;
    gap: 15px;
  }
}

@media (max-width: 420px) {
  .block {
    padding: 10px;
    gap: 10px;
  }
}
